extends layout
block content
  .row
    col-md-8
      h1 Skicka film-data!
         p 
         input(type='text' id='title')
         //-p 
         //-input(type='text' id='year')
         //- p 
         //- input(type='text' id='dir')
         //-span &nbsp;
         p
         button(class="btn" type="button" class="btn btn-warning") Skicka